{%block footer%}
{% load static %}
<!-- Remove the container if you want to extend the Footer to full width. -->
<footer class="text-center text-white fixed-bottom" style="background-color: #222222;">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #222222;">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
     
  <!-- End of .container -->
  {% endblock footer %}