{%block footer%}
{% load static %}
<section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: grey ">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Sign up!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #FEF9E7 ">
      © 2022 Copyright:
      <a class="text-white" href="index">Domain name</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
  {% endblock footer %}